/*/////////////////////////////////////HEADER////////////////////////////////////////////////*/

header{
    height: 50px;
    width: 100%; 
    background-color: rgb(34,34,34);
    position: fixed;
    border-top: 0;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 1;
}

#icone-fleche {
    image-orientation: -90deg;
    width: 35px;
    padding-right: 20px;
    padding-top: 4px;
}

.icone-header-img{
    width: 35px;
    padding-right: 20px;
    padding-top: 4px;
}

.bouton {
    background-color: #77B5FE;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: fixed;
    right: 0;
    top: 0;
}


/*///////////////////////////////////////FOOTER/////////////////////////////////////////////////*/

footer{
    height: 60px;
    background-color: rgb(34,34,34);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-bottom: 0;
    z-index: 1;
}

#twit-log {
    height: 60px;
    width: auto;
    padding-right: 20px;
    padding-bottom: 4px;
}

#face-log {
    height: 60px;
    width: auto;
    padding-right: 20px;
    padding-bottom: 4px;
}

#forum-log {
    height: 60px;
    width: auto;
    padding-right: 20px;
    padding-bottom: 4px;
}

.mentions-legales {
    position:  absolute;
    left: 4%;
    top: 10%;
    color: white;
}

.mentions-legales:hover {
    color: #77B5FE;
}

/*//////////////////////////////// BODY///////////////////////////////////////////*/

body{
    background-color: rgb(255,255,255);
}

label{
    font-family: 'Poiret One';
}

a{
    font-family: 'Poiret One';
}

h1{
    font-size: 500%;
    text-align: center;
    color: #77B5FE;
    font-family: 'Poiret One';
}

.h1-forum {
    text-align: left;
}

h2{
    font-size: 175%;
    text-align: center;
    color: #000000;
    font-family: 'Poiret One';
}

h3{
    font-size: 175%;
    text-align: center;
    color: #000000;
    font-family: 'Raleway';
}

h4 {
    font-size: 125%;
    text-align: left;
    color: #000000;
    font-family: 'Raleway';
}

.h1-co {
    text-align: center;
    color: #77B5FE;
    font-size: 50px;
    font-family: 'Poiret One';
}

.formulaire {
    text-align: center;
}

.boutons {
    background-color: #77B5FE;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.bouton-connexion {
    text-align: center;
}

fieldset {
    width: 200px;
    margin: auto;
}

textarea {
    resize: none;
    width: 80%;
    margin: auto;
}

.style1{
    border-top: 1px solid #77B5FE;
    width:65%;
}
.style2 {
    border-top: 1px solid #77B5FE;
    width:15%;
}

#amazon-logo {
    text-align: center;
}

#amazon-img {
    width: 17%;
}

#bandeau-premium-img{
    padding-top: 45px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.img-contact {
    height: 100px;
    width: auto;
}