/*//////////////////////////////////////////////////////////////HEADER////////////////////////////////////////////////////////////////*/

/*******************************************************************************
Le header prend toute la largeur et fait 140 pixels d'épaisseur.
Sa position reste fixe sur les autres éléments et suit l'écran quand on scrolle.
Les éléments contenus sont centré hormis les boutons.
********************************************************************************/

header {
	height: 140px;
	background-color: rgb(34,34,34);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	text-align: center;
	z-index: 1;
}

.bouton {
	background-color: #77B5FE;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	position: fixed;
	right: 0;
	top: 0;
}

#logo {
	width: 130px;
}


/*//////////////////////////////////////////////////////////////FOOTER////////////////////////////////////////////////////////////////*/

/*******************************************************************************
Le footer prend toute la largeur et fait 60 pixel d'épaisseur.
Sa position reste fixe sur les autres éléments et suit l'écran quand on scrolle.
Les éléments contenus sont centré hormis les mentions légales.
********************************************************************************/

footer {
	height: 60px;
	background-color: rgb(34,34,34);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-bottom: 0;
	z-index: 1;
}

#twit-log {
	height: 60px;
	width: auto;
	padding-right: 20px;
	padding-bottom: 4px;
}

#face-log {
	height: 60px;
	width: auto;
	padding-right: 20px;
	padding-bottom: 4px;
}

#forum-log {
	height: 60px;
	width: auto;
	padding-right: 20px;
	padding-bottom: 4px;
}

.mentions-legales {
	position:  absolute;
	left: 4%;
	top: 10%;
	color: white;
}

.mentions-legales:hover {
	color: #77B5FE;
}

/*//////////////////////////////////////////////////////////////BODY////////////////////////////////////////////////////////////////*/

body{
	background-color: rgb(255,255,255);
}

/*Police*/

a{
	font-family: 'Poiret One';
}

h1{
	text-align: center;
	color: #77B5FE;
	font-size: 50px;
	font-family: 'Poiret One';
}

h2{
    text-align: center;
    color: #77B5FE;
    font-size: 40px;
    font-family: 'Poiret One';
}

.img-produit {
	width: 45%;
}

#createur-photo{
	text-align: center;
}

.photo-createur-img{
	width: 20%;
}

.lien {
	text-align: center;
	padding-top:10px;
}

/*Barre verticale*/

hr{
	border-top: 1px solid #77B5FE;
	width:65%;
}

/*Vidéo*/

.conteneur iframe {
	width: 100%;
	height: 100%;
}