@media screen and (max-width: 1000px) {

	/*///////////////////////////////////////////////////////////HEADER//////////////////////////////////////////////////////////*/

	header{
		height: 100px;
		background-color: rgb(34,34,34);
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		text-align: center;
		z-index: 1;
	}

	#logo {
		width: 100px;
	}

	h1{
		text-align: center;
		color: #77B5FE;
		font-size: 30px;
		font-family: 'Poiret One';
	}

	h2{
		text-align: center;
		color: #77B5FE;
		font-size: 40px;
		font-family: 'Poiret One';
	}
}


@media screen and (max-width: 700px) {

	/*///////////////////////////////////////////////////////////HEADER//////////////////////////////////////////////////////////*/

	/*******************************************************************************
	Le header prend toute la largeur et fait 80 pixels d'épaisseur.
	Sa position reste fixe sur les autres éléments et suit l'écran quand on scrolle.
	Les éléments contenus sont centré hormis les boutons.
	********************************************************************************/

	header { 
		height: 80px;
		background-color: rgb(34,34,34);
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		text-align: center;
		z-index: 1;
	}

	#logo {
		width: 80px;
	}

	/*///////////////////////////////////////////////////////////FOOTER//////////////////////////////////////////////////////////*/

	/*******************************************************************************
	Le footer prend toute la largeur et fait 40 pixel d'épaisseur.
	Sa position reste fixe sur les autres éléments et suit l'écran quand on scrolle.
	Les éléments contenus sont centré hormis les mentions légales.
	********************************************************************************/

	footer {
		height: 40px;
		background-color: rgb(34,34,34);
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		border-bottom: 0;
		z-index: 2;
	}

	#twit-log {
		height: 40px;
		width: auto;
		padding-right: 5px;
		margin-left: 70px;
	}

	#face-log {
		height: 40px;
		width: auto;
		padding-right: 5px;
	}

	#forum-log {
		height: 40px;
		width: auto;
		padding-right: 5px;
	}

	.img-produit {
		width: 100%;
	}

	/*Police*/
	
	h1 {
		text-align: center;
		color: #77B5FE;
		font-size: 20px;
		font-family: 'Poiret One';
	}

	h2{
		text-align: center;
		color: #77B5FE;
		font-size: 40px;
		font-family: 'Poiret One';
	}

	/*Saut de ligne sur portable*/
	
	.br-phone {
		display: none;
	}
}