@media screen and (max-width: 1200px) {

    /*///////////////////////////////////////////////////////////HEADER//////////////////////////////////////////////////////////*/

    .icone-header-img{
        width: 35px;
        padding-right: 20px;
        padding-top: 4px;
        margin-left: -10px;
    }

    #icone-fleche {
        image-orientation: -90deg;
        width: 35px;
        padding-right: 20px;
        padding-top: 4px;
        margin-left: -10px;
    }

    /* Police de caractère */

    h1{
        text-align: left;
        color: #77B5FE;
        font-size: 40px;
        font-family: 'Poiret One';
    }

    .h1-co {
        text-align: center;
        color: #77B5FE;
        font-size: 30px;
        font-family: 'Poiret One';
    }

    #h1-prem {
        text-align: center;
    }


    h2{
        text-align: center;
        color: #000000;
        font-size: 20px;
        font-family: 'Poiret One';
    }

    h3{
        text-align: center;
        color: #000000;
        font-size: 25px;
        font-family: 'Poiret One';
    }

    h4{
        text-align: center;
        color: #000000;
        font-size: 20px;
        font-family: 'Raleway';
    }

    /* Images */

    img {
        width: 300px;
        height: auto;
    }



    /*Paramètres page acceuil*/

    .acc-slide-b {
        width: auto;
        text-align: center;
        color: #77B5FE;
        font-size: 55px;
        font-family: 'Poiret One';
        position: absolute;
        left: 10%;
    }

    .acc-slide-g {
        width: auto;
        text-align: center;
        color: #77B5FE;
        font-size: 55px;
        font-family: 'Poiret One';
        position: absolute;
        right: 10%;
    }

    /*Slider*/

    .slider {
        width: 300px;
        height: auto;
        overflow: hidden;
        background-color: white;
    }

    .slides {
        width: calc(300px * 3);
        animation: glissement 15s infinite;
        animation-timing-function: cubic-bezier(0,1.15,0,.99);
    }

    .slide {
        float: left;
    }


    @keyframes glissement {
        0% {
            transform: translateX(0);
        }
        5% {
            transform: translateX(0);
        }
        10% {
            transform: translateX(0);
        }
        33% {
            transform: translateX(-300px);
        }
        38% {
            transform: translateX(-300px);
        }
        43% {
            transform: translateX(-300px);
        }
        66% {
            transform: translateX(-600px);
        }
        71% {
            transform: translateX(-600px);
        }
        76% {
            transform: translateX(-600px);
        }
        100% {
            transform: translateX(0);
        }
    }

}

@media screen and (max-width: 700px) {

    /*///////////////////////////////////////////////////////////HEADER//////////////////////////////////////////////////////////*/

    header{
        height: 100%;
        width: 50px; 
        background-color: rgb(34,34,34);
        position: fixed;
        border-top: 0;
        left: 0;
        top: 0;
        text-align: center;
    }

    .icone-header-img{
        width: 38px;
        padding-top: 27px;
        padding-left: 15px;
        margin-top: -5px;
    }

    #icone-fleche {
        width: 40px;
        padding-top: 27px;
        transform: rotate(-90deg);
        margin-left: -30px;
        margin-top: -5px;
    }

    .bouton {
        visibility: hidden;
    }

    /*///////////////////////////////////////////////////////////FOOTER///////////////////////////////////////////////////////////*/

    footer {
        height: 40px;
        background-color: rgb(34,34,34);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        border-bottom: 0;
        z-index: 2;
    }

    #twit-log {
        height: 40px;
        width: auto;
        padding-right: 5px;
        margin-left: 70px;
    }

    #face-log {
        height: 40px;
        width: auto;
        padding-right: 5px;
    }

    #forum-log {
        height: 40px;
        width: auto;
        padding-right: 5px;
    }

    /*//////////////////////////////////////////////////////////////BODY////////////////////////////////////////////////*/

    body {
        position: absolute;
        top: 0;
        left: 70px;
    }

    /* Police de caractère */

    h1{
        text-align: center;
        color: #77B5FE;
        font-size: 40px;
        font-family: 'Poiret One';
    }

    .h1-co {
        text-align: center;
        color: #77B5FE;
        font-size: 30px;
        font-family: 'Poiret One';
    }

    #h1-prem {
        padding-top: 22%;
    }

    h2{
        text-align: center;
        color: #000000;
        font-size: 20px;
        font-family: 'Poiret One';
    }

    h3{
        text-align: center;
        color: #000000;
        font-size: 25px; font-family: 'Poiret One';
    }

    h4{
        text-align: center;
        color: #000000;
        font-size: 20px;
        font-family: 'Raleway';
    }

    /*Saut de ligne sur portable*/

    .br-phone {
        display: none;
    }

    /* Images */

    img {
        width: 300px;
        height: auto;
    }

    /* Bandeau de la page premium */

    #bandeau-premium-img{
        position: absolute;
        width: 108%;
        top: -53px;
        left: -28px;
    }

    /*Paramètres page acceuil*/

    .acc-slide-b {
        text-align: center;
        color: #77B5FE;
        font-size: 55px;
        font-family: 'Poiret One';
        position: relative;
        left: 10%;
        padding-top: -10px;
        top: -50px;
    }

    .acc-slide-g {
        text-align: center;
        color: #77B5FE;
        font-size: 55px;
        font-family: 'Poiret One';
        position: relative;
        left: 10%;
        top: -50px;
    }

    /* Paramètre page validation */

    .tabvalidation {
        margin-left: 12%;
        margin-right:auto;
        border-collapse: collapse;
    }

    /*Slider*/

    .slider {
        width: 300px;
        height: auto;
        overflow: hidden;
        background-color: white;
    }

    .slides {
        width: calc(300px * 3);
        animation: glissement 15s infinite;
        animation-timing-function: cubic-bezier(0,1.15,0,.99);
    }

    .slide {
        float: left;
    }

    @keyframes glissement {
        0% {
            transform: translateX(0);
        }
        5% {
            transform: translateX(0);
        }
        10% {
            transform: translateX(0);
        }
        33% {
            transform: translateX(-300px);
        }
        38% {
            transform: translateX(-300px);
        }
        43% {
            transform: translateX(-300px);
        }
        66% {
            transform: translateX(-600px);
        }
        71% {
            transform: translateX(-600px);
        }
        76% {
            transform: translateX(-600px);
        }
        100% {
            transform: translateX(0);
        }
    }
}